
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1460950295'); /* IE9*/
  src: url('iconfont.eot?t=1460950295#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1460950295') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1460950295') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1460950295#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zhifubao:before { content: "\e606"; }
.icon-wepaylogo:before { content: "\e607"; }
.icon-icon0101search:before { content: "\e600"; }
.icon-icon2001tixian:before { content: "\e601"; }
.icon-icon2002dongjie:before { content: "\e602"; }
.icon-icon2003jifen:before { content: "\e603"; }
.icon-icon2004yue:before { content: "\e604"; }
.icon-icon2005:before { content: "\e605"; }
.icon-icon2006:before { content: "\e608"; }
.icon-icon2007x:before { content: "\e609"; }
.icon-icon2008v:before { content: "\e60a"; }
