.btn{
    width: 120px; height: 30px; color: #fff; text-align: center; line-height: 30px; display: inline-block; border-radius: 2px;
}
.btn_gray{
    border: 1px solid #D2C6B6;
    border-radius: 4px;
    color: #333;
}
.btn_red{
    border-radius: 4px;
    color:#FFFFFF;
    .red;
}
